* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: inline-flex;
}

.gameCard {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardFront {
    padding-right: 1rem;
}

#cardBack {
    padding-left: 1rem;
}

.gameCard img {
    width: 23rem;
}

.buttons {
    display: flex;
    justify-content: space-around; 
}

.buttons button {
    outline: 0;
    padding: 0.5rem 2rem;
    background-color: #969593;
    cursor: pointer;
    border-radius: 6px;
}

.buttons button:hover {
    background-color:  rgb(218, 177, 74);;
}

.buttons button:active {
    position: relative;
    top: 1;
}

html { 
    background: url("img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}